<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    li{
        list-style-type: none;
    }
    .wrap{
        box-sizing: border-box;
        padding: 20px 50px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    .wrap .item{
     padding: 10px;
    }
    .wrap .item svg{
        width: 80px;
        height: 80px;
    }
    .wrap .name{
        text-align: center;
        font-size: 16px;
    }
</style>
<body>
    <ul class="wrap">
        <% svgList.forEach(function(svg) { %>
        <li class="item">
            <%- svg.value%>
            <p class="name"><%= svg.name%></p>
        </li>
        <% }); %>
    </ul>
</body>
</html>